In [1]:
# store collections of data
# Lists: 1. Mutable
# 2. Ordered
# 3. Allows duplicate elements

[1, 2, 3, 4, 5]

In [2]:
# create lists
list1 = []
list2 = list()
type(list1)
type(list2)

list

In [4]:
list1 = [8,'y','b',5,'d','g',7, True, None, "Bangladesh"]
list1

[8, 'y', 'b', 5, 'd', 'g', 7, True, None, 'Bangladesh']

In [ ]:
# length of list
list1 = [1, 2, 3, 4, 5]
length = len(list1)
print(length)

In [5]:
# access lists iten/items
my_list = [1, 2, 3, 4, 5]
item = my_list[2]  # Accessing the third item in the list
print(item)  # Output: 3

3

In [7]:

# Access the last element
last_element = my_list[-1]
last_element

5

In [9]:
# range of index
my_list[2:6]

[3, 4, 5]

In [11]:
months = ["January", "February", "March", "April", "May", "June", "July"]
days = [31, 28, 31, 30, 31, 30, 31]
months[2:5]

['March', 'April', 'May']

In [13]:
# concatename two list
print(months + days)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 31, 28, 31, 30, 31, 30, 31]

In [14]:
# check if item exist
print("February" in months)

True

In [15]:
# append a month in months
months.append("August")
months

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August']

In [20]:
# insert month to a specific index
months[2] = "December"
months.insert(3, "October")
print(months)

['January', 'February', 'December', 'October', 'October', 'October', 'October', 'April', 'May', 'June', 'July', 'August']

In [22]:
new_months = ["September", "November"]
months.extend(new_months) 
print(months)

['January', 'February', 'December', 'October', 'October', 'October', 'October', 'April', 'May', 'June', 'July', 'August', 'September', 'November', 'September', 'November']

In [26]:
# remove item from list
months.remove("October")
months

['January',
 'February',
 'December',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'November',
 'September',
 'November']

In [27]:
# pop wil remove from the last
months.pop()
# months.pop(6)

'November'

In [29]:
# del to remove specific element
del months[5]
months
# del months
# months.clear()

['January',
 'February',
 'December',
 'April',
 'May',
 'August',
 'September',
 'November',
 'September']

In [33]:
# months.remove("January")
months

['February',
 'December',
 'April',
 'May',
 'August',
 'September',
 'November',
 'September']

`List Comprehension`

In [37]:
# square number from 1 to 5 
square_list = []

for i in range(1, 6):
    square = i ** 2
    square_list.append(square)
print(square_list)

# square using list comprehension
squares = [i ** 2 for i in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [38]:
# check a person is above 18 or not
ages = [12, 14, 18, 20, 22, 24, 26, 28, 30]
adults = [age for age in ages if age >= 18]
print(adults)

[18, 20, 22, 24, 26, 28, 30]

`Sorting List`

In [44]:
# sorting a list
my_list = [5, 2, 8, 1, 9]
my_list.sort()
print(my_list)
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 5, 8, 9]
[1, 2, 5, 8, 9]

In [45]:
# reverse a list/string
string = "Hello, World!"
reversed_string = string[::-1]
print(reversed_string)

!dlroW ,olleH

In [46]:
# sort Descending order
# reverse a strin
string = "Hello, World!"
reversed_string = string[::-1]
print(reversed_string)

# sort in descending order
sorted_string = sorted(string, reverse=True)
print(sorted_string)

!dlroW ,olleH
['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ',', '!', ' ']

In [58]:
list1 = [8,7,6,5]
list2 = list1

print(list1)
print(list2)

list1[0] = 9

print(list1)
print(list2)

print(id(list1))
print(id(list2))

[8, 7, 6, 5]
[8, 7, 6, 5]
[9, 7, 6, 5]
[9, 7, 6, 5]
140122435308736
140122435308736

In [50]:
# customize sorting using functio
# Define a list of elements
my_list = [5, 2, 8, 1, 3]

# Define a custom sorting function
def custom_sort(element):
    return element % 3

# Sort the list using the custom sorting function
my_list.sort(key=custom_sort)

print(my_list)

[3, 1, 5, 2, 8]

In [56]:
# shallow copy in list
original = [1, 2, 3, 4, 5]
shallow_copy = original.copy()

print(original)
print(shallow_copy)

shallow_copy[3] = 20

print(original)
print(shallow_copy)

original[4] = 8
print(original)
print(shallow_copy)

# id() function returns the identity of an object
print(id(original))
print(id(shallow_copy))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 20, 5]
[1, 2, 3, 4, 8]
[1, 2, 3, 20, 5]
140122435320896
140122435291264

In [52]:
# deep copy in list
import copy

original = [1, 2, 3, 4, 5]
deep_copy = copy.deepcopy(original)

print(original)
print(deep_copy)

print(id(original))
print(id(deep_copy))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
140122433691072
140122433685632