In [1]:
# Tuple are 1. Ordered 2. Immutable 3. Allow duplicates 4. 
# Tuples are created with round brackets
# Tuples are immutable
 
my_tuple = ()
my_tuple = tuple()
type(my_tuple)

tuple

In [2]:
division = ('Dhaka', 'Rajshahi', "Sylhet", "Khulna")
print(division)

('Dhaka', 'Rajshahi', 'Sylhet', 'Khulna')

In [4]:
# length of tuple
length = len(my_tuple)
print(length)

4

In [6]:
# tuple and not tuple
num1 = 52,22
num2 = (52,)
num3 = tuple((65,86))
num4 = (45)

print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [8]:
# tuples of multiple data types
my_tuple = (1, "hello", True, 3.14)
print(my_tuple)

(1, 'hello', True, 3.14)

In [11]:
# access my_tuple items
my_tuple = (1, "hello", True, 3.14)

# Accessing items in a tuple
print(my_tuple[0])  
print(my_tuple[-2])
print(my_tuple[0:2])
print(my_tuple[2:])
print(my_tuple[-3:-1])

1
True
(1, 'hello')
(True, 3.14)
('hello', True)

In [12]:
# update a tuple
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
my_list[2] = 10
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 10, 4, 5)

In [13]:
# add tuple to a tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [16]:
fruits = ('banana', 'cherry', 'watermalon', 'raspberry')
print(fruits.index('cherry'))
print(fruits.count('watermalon'))

1
1

`Tuple Unpacking`

In [18]:
fruits = ('banana', 'cherry', 'watermalon', 'raspberry')
fruits1, fruits2, fruits3, fruits4 = fruits
print(fruits4)

raspberry

In [19]:
weekdays = ('Friday', "Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thrusday")
offday1, offday2, *working_days = weekdays
print(working_days)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thrusday']

In [22]:
working_days, holiday, holiday2, *working_days = weekdays
print(working_days)

['Monday', 'Tuesday', 'Wednesday', 'Thrusday']